@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@media screen and (max-width:900px) {
    grid-template-columns: 1fr;
}

body {
    position:absolute;
    width: 100%;
    div.banner{
        width: 100%;
        background-color: #F2B9B9;
        padding:0%;
        padding-top: 30px;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 480px;
    }
}
main {
    display: grid;
  grid-template-columns: 1fr 1fr;
 
    }
    
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    width: 100%;
    
    background-color: #F6DFDF;
    background-image: url("images/bordertop.png");
     background-repeat: repeat-x;
     background-size: 250px;
     padding:0%;
   
    div.left{
        img {
            width: 100%;
            max-width: max-content;
          
            padding: 15%;
    
        }
    }
    div.right{
        
        width: 100%;
        padding:0%;
        
        div.button {
            
            margin-top: 60px;
            cursor: pointer;
            img{
                width: 50%;
                cursor: pointer;
                &:hover{
                    background-image: url("images/buttondown.png");
                  padding-left:20%;  
                    
                }
        
            }

           
             }
        }
        div.text {
            position:relative;
            color: #000;
            font-family: Holtwood One SC;
            font-size: 200%;
            font-style: normal;
            font-weight: 200;
            padding-left: 5%;
            width:100%;
            
            text-align: center;
        }

        div.text2 {
            position:relative;
            color: #000;
            font-family: Holtwood One SC;
            font-size: 80%;
            font-style: normal;
            font-weight: 200;
            padding-left: 30%;
            width:50%;
           
            text-align: center;
        }
        
    }
}

footer {
    
    
    background-color: #F2B9B9;
    height:100px;
   div.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    cursor: pointer;
   
    img{
        width:50px;
        padding-top:50px;
        cursor: pointer;
        
    }
   }
}
